#header {
   padding:5px 20px;
   display: flex;
   justify-content: space-between;
   background-color: rgb(231, 232, 210);
   margin-bottom: 20px;
   box-shadow: rgba(211, 221, 175, 0.2) 0px 8px 24px;

   .search{
    width: 65%;
   }
}