#header {
    text-align: center;

    ul {
        padding-left: 40px;
        display: flex;
        justify-content: start;

        li {
            display: inline-block;
            padding: 20px;
            font-size: 20px;

            a {
                color: white;
                text-decoration: none;
            }
            button{
                color: white;
            }
        }
    }

    background-color: rgb(3, 103, 110);
}